.btn {
    display: inline-block;
    position: relative;
    padding: .8em 2.1em;
    margin-bottom: .75em;
    margin-right: .25em;
    font-size: 1em;
    line-height: 1.2;
    border: 0;
    outline: 0;
    border: 2px solid lightgray;
    color: #222;
    text-shadow: none;
    background-color: #fff;
    border-radius: 30px;
    font-family: 'Poppins',Helvetica,sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 10px -8px rgba(0,0,0,.22);
}

.btn-primary {
    border-color: lightseagreen;
    &:hover, &:active, &:focus {
        border-color: lightseagreen;
        background-color: lightseagreen;
        color: white;
    }
}