html {
    scroll-behavior: smooth;
}

body {
    background: transparent;
    background: linear-gradient(141deg, rgba(245,245,245,1) 0%, rgba(221,221,221,1) 100%);
    min-height: 100%;
}

body, p {
    font-family: "Poppins",Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75em;
    color: #666;
}

.navbar-brand {
    font-family: "Billabong";
    font-size: 2.3em;
}

.row.section {
    margin-bottom: 4rem;
}

.home-content {margin: 5% 10%}    
.home-photo {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: calc(100% - 36px);
    background-color: #fff;
    border-radius: 1000px;
    border: 12px solid #fff;
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    
    .hp-img {
        background-image: url(./../assets/img/profile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        display: block;
        position: absolute;
        top: -16px;
        bottom: -16px;
        width: auto;
        left: -16px;
        right: -16px;
        filter: grayscale(0.6);
    }
}

.home-text {
    margin-bottom: 30px;
    h4 {
        font-size: 16px;
        color: #aaa;
        font-weight: 300;
        margin-bottom: 10px;
    }
    div.home-buttons {
        a {
            width: 180px;
        }
    }
}

div.work {
    padding: 1rem .5rem;
    h3 {
        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    p span{
        &.location {
            float: right;
        }
    }

    ul {
        padding: 1.5em 0;
        li {
            font-size: 1.2em;
            margin-bottom: 1rem;
            text-align: justify;
        }
    }
}

.skills {
    p {
        font-size: 1.2rem;
        border-bottom: 1px solid #ccc;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        a {
            text-align: center;
            flex-basis: 25%;
            text-decoration: none;
            margin-bottom: 12px;
        }
        i:before {
            font-size: 2rem;
        }

    }
    
    div.education {
        margin-bottom: 1em;
        a {
            color: #666;
            text-decoration: underline;
            text-decoration-thickness: 2px;
            i:before {
                font-size: 14px;
            }
        }
        .progress {
            height: 15px;
            margin-bottom: 12px;
            .progress-bar {
                background-color: #7b8086;
            }
        }
    }
}

.social {
    display: flex;
    justify-content: space-between;
    a {
        height: 12em;
        line-height: 14em;
        flex-basis: 25%;
        text-align: center;
        text-decoration: none;
        i:before {
            font-size: 3em;
        }
        &:hover {
            background-color: #c5cad296;
        }
    } 
}